/* src/HomePage.css */
.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
  }
  
  .HomePage-header {
    font-size: 24px;
    color: #333;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  